REMNAWAVE_IMAGE=ghcr.io/wuansg/remnawave-node-go:main
NODE_PORT=2222
SECRET_KEY=
XTLS_API_PORT=61000
SING_BOX_API_PORT=61001
ANYTLS_CERT_DIR=/root/cert/anytls
INTERNAL_SOCKET_PATH=/run/remnawave/internal.sock
SUPERVISORD_SOCKET_PATH=/run/remnawave/supervisord.sock
SUPERVISORD_PID_PATH=/run/remnawave/supervisord.pid
XRAY_CONFIG_PATH=/run/remnawave/xray.json
SING_BOX_CONFIG_PATH=/run/remnawave/sing-box.json
